@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  /* --h1_color: green;
  --container: 10px; */
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.nav-parent {
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  border: 2px solid red;
}
ul {
  list-style: none;
  margin-right: 40px;
}

ul li {
  display: inline-block;
  margin-right: 40px;
  margin-top: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #224093;
}

.logo > img {
  width: 90px;
  margin-top: 30px;
}
#get {
  width: 120px;
  height: 40px;
  background-color: #fdb915;
  border-radius: 5px;
  margin-bottom: 15px;
  border: none;
}
#get a {
  text-decoration: none;
  color: #224093;
  font-size: 15px;
  font-weight: 500;
}
.ib-pic > img {
  width: 100%;
  padding: 30px 15px;
}
.edition-container {
  display: flex;
  justify-content: space-between;
}
.edition-container h1 {
  font-family: "Jost", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #224093;
  padding: 10px 20px;
}
.ls {
  margin-top: -5px;
  transform: translateX(-30px);
}
.sept {
  transform: translateX(-50px);
  /* border: 2px solid blue; */
}

.ls:nth-child(3) {
  border: 1px solid #00a877;
  border-radius: 100%;
  animation: rolling-star 5s linear infinite;
  position: relative;
  left: -30px;
}
@keyframes rolling-star {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.t-parent {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 40px 15px 20px 10px;
}
.t-items button {
  /* border: 2px solid green; */
}
.buy {
  width: 600px;
  height: 50px;
  background-color: #fdb915;
  font-size: 24px;
  font-weight: 500;
  border: 1px solid #264495;
}
.buy a {
  text-decoration: none;
  font-family: "Jost", sans-serif;
  color: #435ca2;
}
.sponsor {
  width: 600px;
  height: 50px;
  font-family: "Jost", sans-serif;
  font-size: 24px;
  font-weight: 500;
  border: 1px solid #264495;
}
.sponsor a {
  text-decoration: none;
  color: #435ca2;
}

.v-class {
  text-align: center;
  font-family: "Jost", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
.v-class:nth-child(1) {
  padding-bottom: 40px;
}
.v-class p {
  /* border: 2px solid blue; */
  margin-top: -20px;
  color: white;
}
.venue-container {
  background: linear-gradient(to right, #c18d10, #7b7f8d, #5576cf 40%);
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 80px;
  margin-bottom: 80px;
  /* border: 2px solid red; */
  border-radius: 5px;
}
.first-div {
  margin-left: -5px;
}
.first-div > img {
  /* width: 120%; */
  margin-top: 170px;
  border-bottom: 2px solid #fdb915;
}
.first-div p {
  font-family: "Jost", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: var(--h1_color);
  /* color: #254293; */
  padding: 15px 0px 0px 0px;
}

.father-div {
  display: flex;
  padding: 10px 130px 0px 15px;
}
.second-div > img {
  /* border: 2px solid black; */
  margin-left: 0px;
}
.w-line {
  position: absolute;
  top: 2050px;
  left: 70px;
}
.wlt {
  position: absolute;
  top: 2050px;
  left: 1200px;
}
.lvi {
  position: absolute;
  top: 2100px;
  left: 26px;
  transform: rotate(90deg);
  color: white;
}
.lvii {
  position: absolute;
  top: 2380px;
  left: 1190px;
  transform: rotate(-90deg);
  color: white;
}
.asti {
  position: absolute;
  top: 2100px;
  left: 25px;
  color: white;
}
.ast-l {
  border: 2px solid black;
  position: absolute;
  top: 2100px;
  /* left:1200px; */
  right: 20px;
  color: white;
}

.venue-section h1 {
  font-family: "Jost", sans-serif;
  font-weight: 800;
  font-size: 72px;
  color: #224093;
  border-bottom: 2px solid #fcc236;
  line-height: 75px;
  padding-top: 45px;
  padding-left: 15px;
}
.icc {
  margin-left: 15px;
  margin-top: 50px;
}
.uni {
  position: absolute;
  top: 1980px;
  right: 710px;
  /* border: 2px solid red; */
  font-family: system-ui;
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
}

.speaker-container {
  padding: 40px 10px;
  margin-top: 30px;
}
.parent-speaker {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #fcc236;
  line-height: 25px;
  /* padding: 20px 10px; */
}
.sp-item:nth-child(1) {
  font-family: "Jost", sans-serif;
  font-weight: 800;
  font-size: 52px;
  color: #224093;
}
.sp-item:nth-child(2) {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #224093;
  margin-top: 20px;
}
.Guest-speakers {
  padding-top: 10px;

  margin-top: -20px;
  padding-left: 20px;
  padding-right: 20px;
}
.parent-guest {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #224093;
  gap: 10px;
}

.pikin > h1 {
  font-size: 25px;
  font-weight: 700;
  font-family: "Jost" sans-serif;
  /* border: 2px solid black; */
}

.pikin > p {
  font-size: 20px;
  font-weight: 400;
  font-family: "Jost" sans-serif;
  line-height: 30px;
}
.pikin > img {
  width: 300px;
}

.tick {
  font-size: 45px;
  font-weight: 500;
  font-family: "Jost", sans-serif;
  color: #224093;
  border-bottom: 2px solid #fdba1a;
  /* padding: 10px 15px; */
  margin: 0 20px;
  margin-right: 100px;
}
.p-bracket {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 15px;
}
.big-bracket {
  padding: 40px;
}
.t-part {
  transform: translateX(-90px);
  transform: translateY(40px);
}
.s-part {
  font-size: 16px;
  font-weight: 400;
  font-family: "Jost", sans-serif;
  transform: translateX(-120px);
}
.prices {
  font-size: 35px;
  font-weight: 700;
  font-family: "Jost", sans-serif;
  color: #224093;
  margin-left: 270px;
}

.grand-box {
  padding-top: 80px;
}
.parent-box {
  display: grid;
  padding: 10px 15px;
  grid-template-columns: 1fr 1fr 1fr;
}

.kiddo-one {
  height: 500px;
  width: 400px;
  font-family: "Jost", sans-serif;
  border: 2px solid red;
  font-size: 12px;
  font-weight: 600;
  border-radius: 15px;
  padding-left: 10px;
  padding-top: 10px;
}
.kiddo-one:hover {
  background-color: green;
  transition: background-color 3s ease;
  color: white;
}

.kiddo-one h1 {
  font-family: "Jost", sans-serif;
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 20px;
}
.kiddo-one p {
  font-size: 12px;
  font-weight: 700;
  font-family: "Jost", sans-serif;
  margin-bottom: 20px;
}
.naira {
  font-size: 24px;
  font-weight: 800;
  font-family: "Jost", sans-serif;
}
.kiddo-one button {
  width: 105px;
  margin-left: 180px;
  height: 40px;
  border-radius: 12px;
  background-color: #fdb915;
  font-size: 16px;
  font-weight: 400;
  font-family: "Jost", sans-serif;
  border: none;
}
.kiddo-one button a {
  text-decoration: none;
}
.kiddo-one button a:hover {
  color: white;
}

.kiddo-two {
  height: 550px;
  width: 400px;
  border: 2px solid blue;
  border-radius: 15px;
  padding-left: 10px;
  padding-top: 10px;
  font-family: "Jost", sans-serif;
  border: 2px solid red;
  font-size: 18px;
  font-weight: 600;
  color: #224093;
  background-color: #ffcd55;
  position: relative;
  top: -50px;
}
.kiddo-two h1 {
  font-family: "Jost", sans-serif;
  font-size: 30px;
  font-weight: 800;
  color: #224093;
  margin-bottom: 30px;
}
.kiddo-two p {
  font-size: 12px;
  font-weight: 400;
  font-family: "Jost", sans-serif;
  margin-bottom: 30px;
}
.kiddo-two.naira {
  font-size: 24px;
  font-weight: 800;
  font-family: "Jost", sans-serif;
}
.kiddo-two button {
  width: 105px;
  margin-left: 180px;
  height: 40px;
  border-radius: 12px;
  background-color: #224093;
  font-size: 16px;
  font-weight: 400;
  font-family: "Jost", sans-serif;
  border: none;
  transform: translate(60px, -25px);
}
.kiddo-two button a {
  text-decoration: none;
  color: #e9f0f7;
}
.twenty-k {
  /* border: 2px solid red; */
  position: relative;
  bottom: -20px;
  font-family: "Jost", sans-serif;
  font-size: 30px;
  font-weight: 800;
}

.kiddo-three {
  height: 500px;
  width: 400px;
  font-family: "Jost", sans-serif;
  border: 2px solid red;
  font-size: 12px;
  font-weight: 600;
  border-radius: 15px;
  padding-left: 10px;
  padding-top: 10px;
}
.kiddo-three h1 {
  font-family: "Jost", sans-serif;
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 20px;
}
.kiddo-three p {
  font-size: 12px;
  font-weight: 700;
  font-family: "Jost", sans-serif;
  margin-bottom: 20px;
}
.kiddo-three button {
  width: 105px;
  margin-left: 180px;
  height: 40px;
  border-radius: 12px;
  background-color: #fdb915;
  font-size: 16px;
  font-weight: 400;
  font-family: "Jost", sans-serif;
  border: none;
  transform: translate(-20px, 20px);
}
.kiddo-three button a {
  text-decoration: none;
}
.five-k {
  font-size: 24px;
  font-weight: 800;
  font-family: "Jost", sans-serif;
  position: relative;
  bottom: -25px;
}
.kiddo-three:hover {
  background-color: blue;
  transition: background-color 3s ease;
  color: white;
}
.gold {
  padding: 15px;
}
.gold h1{
font-size: 35px;
font-weight: 800;
font-family: "Jost", sans-serif;
color: #224093;
margin-top: 90px;
padding-left: 15px;
}

.logo-animation {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  /* width: fit-content; */
}

.logo-image {
  border: 2px solid blue;
  width: 190px;
  height: 90px;
  margin: 10px;
}

.logo-image img {
  width: 100%;
  border: 2px solid red;
  animation: cards 5s infinite;
}
@keyframes cards {
  0% {
    transform: translate(10px);
  }
  100% {
    transform: translate(-1200px);
  }
}
.galore-container{
    background: linear-gradient(37deg, rgba(19,35,81,1) 68%, rgba(148,45,81,1) 95%);
    height: 530px;
    padding-left: 15px;
}
.galore-parent{
    display: flex;
    
}
.text-part{
    color: white;
    /* width: 40%; */
    margin-top: 170px;
    
}
.text-part h1{
font-size: 40px;
font-weight: 800;
font-family: "Jost", sans-serif;
}

.text-part p{
    margin-top: 15px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Jost", sans-serif;
}
.pic-part{
    /* width: 60%;  */
    margin-left: 380px;
}
.gadget{
    width: 130px;
}
.girlie{
    width: 450px;
}
.girlie img{
    width: 100%;
    transform: translate(-200px,-80px);
    
}
.laptop{
    transform: translate(-350px,230px);
}
.watch{
    transform: translate(230px,-490px);
}
.partner-logos{
    /* border: 1px solid red; */
    width: 190px;
    height: 90px;
    margin-bottom: 20px;
    margin: 20px;
}
.partner-logos > img{
    width: 100%;
    margin: 10px;
  animation: channels 7s infinite forwards;
}
@keyframes channels {
  0% {
    transform: translate(10px);
  }
  100% {
    transform: translate(-1200px);
  }
}
.partner-parent{
    display: flex;
    justify-content: space-around;        
}
.partner-container h1{
font-size: 35px;
font-weight: 800;
font-family: "Jost", sans-serif;
color: #224093;
margin-top: 90px;
}
.partner-container{
  padding-left: 15px;
}

.media-card{
  /* border: 2px solid red; */
  width: 350px;
  /* height: 70px; */
  margin-right: 30px;
  
}

.media-card img{
  width: 100%;
  animation: media 10s infinite forwards;
}
@keyframes media {
  0% {
    transform: translate(10px);
  }
  100% {
    transform: translate(-1200px);
  }
}
.media-parent{
  display: flex;
  /* justify-content: space-between; */
}
.m-p{
font-size: 35px;
font-weight: 800;
font-family: "Jost", sans-serif;
color: #224093;
margin-top: 90px;
padding-left: 15px;
}
.community-parent{
  display: flex;
}
.community{
  width: 140px;
  /* border: 2px solid indigo; */
  height: 70px;
  margin-right: 30px;
}
.community > img{
  width: 100%;
  animation: community 12s infinite forwards;
}
@keyframes community {
  0% {
    transform: translate(10px);
  }
  100% {
    transform: translate(-1200px);
  }
}
.community-container h1{
font-size: 35px;
font-weight: 800;
font-family: "Jost", sans-serif;
color: #224093;
margin-top: 90px;
padding-left: 15px;
}



